/* html tags */
* {
  font-family: "Montserrat", sans-serif;
  list-style: none;
}
strong {
  color: #717171;
}
/* ID's and Classes */
.row {
  padding-right: 0;
  margin-right: 0 !important;
}

#title {
  background-color: #ffecc0;
}

#footer {
  background-color: #474747;
  color: white;
  padding: 1rem;
}
/* NAVBAR */
.nav-link {
  color: #ff8f56;
}

.nav-link:hover {
  color: #ff5959;
}
.navbar-brand {
  margin-bottom: -1rem;
}

.navbar-item {
  font-size: larger;
}

.subtitle {
  margin-left: 1.5rem;
}



/* MENU */
#menu {
  padding: 3rem 0;
  background-color: #f3f5ef;
}

.menu-title {
  margin-top: 1.5rem;
  text-align: center;
}

.menu-item {
  padding: 0 2rem;
  border-radius: 5px;
}
.menu-item:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}

.menu-column {
  padding: 3% 2%;
  text-align: center;
}

/*  ABOUT */
#about {
  background-color: #3e3e3e;
  color: white;
  padding: 1rem;
}

.about {
  padding: 2rem;
}
/* CARDS */
.card {
  margin-bottom: 2rem;
}
.card-text {
  padding: 1rem;
}

.card-title {
  background-color: #474747;
  color: white;
}

/* LOCATION */

#location {
  background-image: linear-gradient(#f69f36, #fab441);
  color: white;
  margin: 0;
  padding: 1rem;
}

/* font awesome icons */
.fab {
  font-size: xx-large;
}

.fa-instagram {
  color: black;
}

/*  responsive */

@media (max-width: 600px) {
  .call {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .navbar-brand {
    margin-right: 0 !important;
  }
  .navbar {
    padding: 0 !important;
  }
}

@media (min-width: 1000px) {
  .trailer-image {
    height: 600px !important;
  }
}

.trailer-image {
  border-radius: 20px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white !important;
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
  font-size: 40px;
}

/* Modal image */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  overflow: auto; /*enable scroll if needed*/
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 1000px;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

#caption {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  }
}
#order-button {
  margin: 15px 0;
  background-color:#ff8f56;
  color:white;
  font-family: Montserrat;
}